{% extends 'partials/base.html.twig' %}

{% block content %}

         <!-- Begin page content -->


                 <!-- Main jumbotron for a primary marketing message or call to action -->
             </div>
         <div class="hero-unit fill">
             <div class="container">

             </div>
             <span class="herotext"><a href="http://www.library.ucla.edu/about" target="_blank">UCLA Library</a> and
                 the <a href="http://www.arl.org" target="_blank">Association of Research Libraries</a> present</span></div>
         </div>


             <!-- Example row of columns -->
             <div class="col-md-1">
                 </div>

   <div class="col-xs-12 col-md-5">
                     {{ page.content }}
                               <br />
                 <h3>NDLC16 is on Instagram. TAG US @NDLC16 and make sure to also use the #NDLC16</h3>
                     <!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/234095" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
                 </div>

                 <div class="col-xs-12 col-md-5">


                         {#<p class="text-muted">Bootstrap Theme for <a href="http://getgrav.org">Grav</a></p>#}
                         <a class="twitter-grid" href="https://twitter.com/NDLC16/timelines/704361334117261312">Homepage
                             Stream</a> <script async src="//platform.twitter.com/widgets.js"
                                                charset="utf-8"></script>
                 </div>
<div class="col-md-1">
        </div>

{% endblock %}
