{% extends 'partials/base.html.twig' %}

{% block content %}

         <!-- Begin page content -->


                 <!-- Main jumbotron for a primary marketing message or call to action -->
             </div>
         <div class="hero-unit fill">
             <div class="container">

             </div>
             <span class="herotext"><a href="http://www.library.ucla.edu/about" target="_blank">UCLA Library</a> and
                 the <a href="http://www.arl.org" target="_blank">Association of Research Libraries</a> present</span></div>
         </div>


             <!-- Example row of columns -->
             <div class="col-md-1">
                 </div>

   <div class="col-xs-12 col-md-5">
                     {{ page.content }}
                               <br />
                 <h2><a href="https://www.instagram.com/ndlc16/" target="_blank">NDLC16 on Instagram</a></h2>
                     <!-- SnapWidget
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/234095" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe> -->


   </div>

                 <div class="col-xs-12 col-md-5">


                         {#<p class="text-muted">Bootstrap Theme for <a href="http://getgrav.org">Grav</a></p>#}
                     <h2>NDLC16 Stories on Storify</h2>

                     <div class="storify"><iframe src="//storify.com/NDLC16/ndlc-16-closing-keynotes-chris-bourg-and-april-hat/embed?header=false&border=false&template=slideshow" width="100%" height="750" frameborder="no" allowtransparency="true" autoplay="true"></iframe><script src="//storify.com/NDLC16/ndlc-16-closing-keynotes-chris-bourg-and-april-hat.js?header=false&border=false&template=slideshow"></script><noscript>[<a href="//storify.com/NDLC16/ndlc-16-closing-keynotes-chris-bourg-and-april-hat" target="_blank">View the story "NDLC'16 Closing Keynotes - Chris Bourg and April Hathcock " on Storify</a>]</noscript></div>
                     <p></p>


                     <div class="storify"><iframe src="//storify.com/NDLC16/ndlc-16-opening-keynote-lakota-harden/embed?header=false&border=false&template=slideshow" width="100%" height="750" frameborder="no" allowtransparency="true"></iframe><script src="//storify.com/NDLC16/ndlc-16-opening-keynote-lakota-harden.js?header=false&border=false&template=slideshow"></script><noscript>[<a href="//storify.com/NDLC16/ndlc-16-opening-keynote-lakota-harden" target="_blank">View the story "NDLC'16 Opening Keynote - Lakota Harden " on Storify</a>]</noscript></div>
                     <p></p>
                     <div class="storify"><iframe src="//storify.com/NDLC16/ndlc-16-highlights/embed?header=false&border=false&template=slideshow" width="100%" height="750" frameborder="no" allowtransparency="true"></iframe><script src="//storify.com/NDLC16/ndlc-16-highlights.js?header=false&border=false&template=slideshow"></script><noscript>[<a href="//storify.com/NDLC16/ndlc-16-highlights" target="_blank">View the story "NDLC'16 Conference Highlights " on Storify</a>]</noscript></div>

                     <div class="col-md-1">
        </div>

{% endblock %}
